//HEADLINE
.headline {
  text-align: right;
  //   display: inline-block;
  width: 40vw;
  animation: moveLeft 0.9s ease-out;
  animation-fill-mode: backwards;
  &__caption {
    margin: 2rem 0;
    color: $color-light-1;
    font-weight: 600;
    font-size: 1.9rem;
  }
  backface-visibility: hidden;
}

//BTN

.btn {
  padding: 1.5rem 3rem;

  border-radius: 100px;
  font-weight: 600;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.3s;
  &--fill {
    background-color: $color-primary;
    color: $color-light-1;
    border: 1px solid $color-light-1;
  }
  &--default {
    background-color: $color-light-1;
    color: $color-primary;
    border: 1px solid $color-light-1;
  }
  &:focus {
    outline: none;
  }
  &:not(:last-of-type) {
    margin-right: 1rem;
  }
  &:hover {
    filter: contrast(110%);
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 2rem rgba(#000, 0.1);
  }
}

//Nav
.nav {
  background-color: $color-dark-3;
  box-shadow: 0 1rem 3rem rgba(#000, 0.2);
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__list {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    animation: moveLeft 0.9s ease-out;
  }
  &__item {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    padding: 0 2rem;
    &:last-child {
      margin-right: 2rem;
    }
  }
  &__link {
    text-decoration: none;
    color: $color-light-1;
    display: inline-block;
    transition: all 0.2s;

    &:hover {
      color: $color-primary;
      transform: scale(1.1);
    }
  }
}

//LOGO
.logo {
  font-family: $font-logo;
  text-transform: uppercase;
  font-size: 4rem;
  color: $color-light-1;
  margin-left: 2.5rem;
  cursor: default;
}

//feature
.feature {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 6rem;
  align-items: start;
  &__box {
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 2.5rem;
    column-gap: 1.5rem;
  }

  &__icon {
    fill: $color-primary;
    width: 6rem;
    height: 6rem;
    grid-row: 1/3;
    transform: translateY(-1rem);
  }
  &__desc {
    font-size: 1.5rem;
  }
}
//story
.student {
  &__img {
    grid-row: 1/-1;
    grid-column: 1/-2;
    height: 105%;
    transform: translateY(-1.7vw);
  }

  &__text {
    font-size: 1.5rem;
  }
}

//slider

.slider {
  position: relative;
  width: 100%;
  height: 20vw;
  // background-color: palegoldenrod;
  &__btn {
    position: absolute;
    top: 50%;
    border: 1px solid $color-primary;
    color: $color-primary;
    // padding: 2rem 2.5rem;
    height: 6rem;
    width: 6rem;
    font-weight: 700;
    background-color: $color-grey-1;
    border-radius: 50%;
    transition: transform 0.2s;
    cursor: pointer;
    &--left {
      left: 3%;
      transform: translate(-50%, -50%);
      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
    &--right {
      right: 3%;
      transform: translate(50%, -50%);
      &:hover {
        transform: translate(50%, -50%) scale(1.1);
      }
    }
  }
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

//reviews
.review {
  // background-color: aquamarine;
  display: grid;
  row-gap: 3rem;
  width: 70%;
  margin: 0 auto;

  &__text {
    font-size: 1.9rem;
    line-height: 1.8;
    position: relative;
    &::before {
      content: "\201C";
      position: absolute;
      top: -1.6rem;
      left: -1.5rem;
      font-size: 20rem;
      line-height: 0.5;
      color: $color-primary;
      z-index: -1;
    }
  }
  &__user {
    display: grid;
    justify-content: center;
    justify-items: center;
    row-gap: 0.5rem;
  }
  &__username {
    font-size: 1.7rem;
  }
  &__img {
    border-radius: 50%;
    padding: 0.5rem;
    border: 5px solid $color-primary;
    width: 8rem;
    box-sizing: content-box;
  }
}

//dots

.dots {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  z-index: 10;

  &__dot {
    border: none;
    background-color: $color-grey-2;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    cursor: pointer;

    &--active {
      background-color: $color-grey-3;
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

//footer
.footer {
  display: grid;
  row-gap: 4rem;
  padding: 8rem;
  // justify-items: center;
  &__info {
    padding: 1rem;
    list-style: none;
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    justify-items: center;
    // background-color: red;
  }
  &__item {
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__link {
    color: $color-grey-2;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
      color: $color-secondary;
    }
  }

  &__social {
    display: grid;
    grid-template-columns: repeat(3, minmax(2vw, 10rem));
    justify-items: center;
    justify-content: center;
  }

  &__icon-box {
    // background-color: red;s
    width: 6.5rem;
    height: 6.5rem;
    position: relative;
    border-radius: 50%;
    transform: scale(0.9);
    overflow: hidden;
    transition: all 0.4s;
    &:hover {
      transform: scale(1);
      border-radius: 10%;

      & .footer__icon {
        &--fb {
          fill: #3b5999;
        }
        &--tw {
          fill: #55acee;
        }
        &--gp {
          fill: #dd4b39;
        }
      }
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    fill: rgb(99, 99, 99);
    cursor: pointer;
    transition: all 0.4s;
  }
  &__copy {
    justify-self: center;
    color: rgb(99, 99, 99);
    font-size: 1.5rem;
  }
}
